---
import "@/styles/global.css";
import BaseLayout from "@/layouts/base.astro";

import { Button } from "@/components/ui/button";
---

<BaseLayout>
  <div class="grid h-screen place-items-center content-center">
    <Button>Button</Button>
  </div>
</BaseLayout>
