---
import BaseLayout from "@/layouts/base.astro";

import ProjectsCarousel from "@/components/projects-carousel";

const animation = "animate-in fade-in duration-1000 fill-mode-backwards";
---

<BaseLayout
  title="projects"
  description="Portfolio of software projects by Ceferino Patino: ML, systems, web, and more."
  canonical="https://cpatino.com/projects"
>
  <div
    class="grid min-h-[80vh] w-full grid-cols-1 px-4 py-2 md:grid-cols-6 md:place-items-center md:px-8 md:py-8"
  >
    <div class="flex items-center justify-center">
      <h1
        class=`${animation} slide-in-from-top-8 md:pl-8 md:slide-in-from-left-12 md:slide-in-from-top-0 tracking-light text-center text-3xl font-extrabold`
      >
        projects
      </h1>
    </div>
    <div
      class=`${animation} slide-in-from-top-12 col-span-5 flex flex-col items-center gap-4 mt-4 md:gap-8 md:mt-0`
    >
      <ProjectsCarousel client:load />
    </div>
  </div>
</BaseLayout>
