<footer class="navbar grid w-full place-items-center border-t py-4">
  <p>
    made by <a class="hover:text-primary" href="https://github.com/c4patino/"
      >@c4patino</a
    >
  </p>
  <p>
    <a
      class="hover:text-primary"
      href="https://github.com/c4patino/cpatino.com/">site source</a
    >
  </p>
</footer>
