---
const { href, icon: Icon, className = "", target, rel } = Astro.props;
---

<a
  href={href}
  class={`inline-flex hover:scale-110 hover:text-primary`}
  target={target}
  rel={rel}
>
  <Icon className=`${className} h-8 w-8` />
</a>
